services:
  # Serveur LDAP
  demo-ldap:
    build:
      context: ./ldap
    container_name: demo-ldap
    networks:
      - demo-network

  # Serveur Mail (MailHog)
  demo-mail:
    image: mailhog/mailhog
    container_name: demo-mail
    ports:
      - "8025:8025" # Interface Web
    networks:
      - demo-network

  # Keycloak avec thèmes et providers personnalisés
  demo-keycloak:
    build:
      context: .
      dockerfile: keycloak/Dockerfile
    container_name: demo-keycloak
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_IMPORT=/tmp/realm-export.json  # Import realm on startup

      # Allow upload script
      - JAVA_OPTS=-server -Xms64m -Xmx512m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true -Dkeycloak.profile.feature.upload_scripts=enabled
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak/config/realm-export.json:/tmp/realm-export.json  # Mount the realm config
    depends_on:
      - demo-ldap
      - demo-mail
    networks:
      - demo-network

  # Application JS Console
  demo-js-console:
    build:
      context: ./js-console
    container_name: demo-js-console
    ports:
      - "3000:80"
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge