services:
  # Serveur LDAP
  ldap:
    build:
      context: ./ldap
    container_name: ldap
    networks:
      - net-identity

  # Serveur Mail (MailHog)
  mail:
    image: mailhog/mailhog
    container_name: mail
    ports:
      - "8025:8025" # Interface Web
    networks:
      - net-messaging

  # Keycloak avec thèmes et providers personnalisés
  keycloak:
    build:
      context: .
      dockerfile: keycloak/Dockerfile
    container_name: keycloak
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_IMPORT=/tmp/realm-export.json  # Import realm on startup

      # Allow upload script
      - JAVA_OPTS=-server -Xms64m -Xmx512m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true -Dkeycloak.profile.feature.upload_scripts=enabled
    ports:
      - "8080:8080" # Keycloak
      - "3000:3000" # Node App
    volumes:
      - ./keycloak/config/realm-export.json:/tmp/realm-export.json  # Mount the realm config
    depends_on:
      - ldap
      - mail
    networks:
      - net-identity   # LDAP
      - net-messaging  # Mail
      - net-application # App Node

  # App node
  node-app:
    build:
      context: ./node-app
    container_name: node-app
    env_file:
      - ./node-app/.env
    network_mode: service:keycloak
    depends_on:
      - keycloak

networks:
  net-identity:    # Lien LDAP <-> Keycloak
    driver: bridge
    internal: true # Sécurité max: pas d'accès internet sortant

  net-messaging:   # Lien Mail <-> Keycloak
    driver: bridge

  net-application: # Lien App Node <-> Keycloak
    driver: bridge